body
{
    color: # 333;
    text-align: :left;
    font-family: Arial;
}

#cabecera
{
    background: # 33A ;
    color:white;
    margin:0;
    padding:0.5cm;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid # darkgoldenrod;
    margin:0 auto;
}